/* src/layout/MainLayout.module.css */
.container {
    display: flex;
    height: 100vh;
    background-color: #121212;
    color: white;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pageContent {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    padding-bottom: calc(90px + 2rem); /* Height of audio player + extra padding */
    margin-right: 12px; /* Space for scrollbar */
}
